form {
			width: 900px;
			position: relative;
			left: 50%;
			margin-left: -450px;
			display: block;
		}

		label 
		{
			display: block;
			margin-bottom: 10px; 
		}

		.half 
		{
			width: 45%;
			margin: 0 2.5% 0 2%;
			display: inline;
		}